<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title ">Sunset Hills Mens Club</h4>
        <p class="card-category">Tournament Schedule</p>
      </div>
    </div>
    <div class="card">
      <div class="card-header card-header-danger">
        <p class="card-category">Member Guest</p>
      </div>
    </div>
    <div class="card-columns">
      <div class="card" *ngFor="let photo of member_guest">
        <img class="card-img-top"  [src]="photo.src" />
      </div>
    </div>
  </div>
</div>

