<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title ">Sunset Hills Mens Club</h4>
        <p class="card-category">Tournament Schedule</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let tournament of tournaments">
            <u>{{ tournament.tournamentName }}</u>
            <ul class="list-group">
              <li class="list-group-item"><i>{{ tournament.tournamentInfo }}</i></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-sm"></div>
    </div>
  </div>
</div>