<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title ">Sunset Hills Mens Club</h4>
        <p class="card-category">Tournament Schedule</p>
      </div>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <u>Superbowl Tournament - February 2nd</u>
          <ul class="list-group">
            <li class="list-group-item"><i>Chapman (Pinehurst) System</i></li>
          </ul>
      </li>
      <li class="list-group-item">
        <u>President Cup - March 2nd - 3rd</u>
        <ul class="list-group">
          <li class="list-group-item">Stableford Blind Draw Foursomes (Friday night draw)</li>
          <li class="list-group-item">Pre Cup same format determines top players to move onto March Madness</li>
          <li class="list-group-item">
            <u>Assuming 4 Brackets:</u>
            <ul class="list-group">
              <li class="list-group-item">Top 32 Players qualify for March Madness</li>
              <li class="list-group-item">Play 2 matches per week through the month in your bracket</li>
              <li class="list-group-item">Top 4 players at the end of the month play on Saturday</li>
              <li class="list-group-item">Top 2 players play on the last Sunday</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="list-group-item">
        <u>Sparky - April 13th</u>
        <ul class="list-group">
          <li class="list-group-item">2 man best ball (stableford)</li>
        </ul>
      </li>
      <li class="list-group-item">
        <u>Member/Guest - June 7th</u>
        <ul class="list-group">
          <li class="list-group-item">2 man better ball (net match play)</li>
        </ul>
      </li>
      <li class="list-group-item">
        <u>Club and Sr. Club Championship - July 12th - 13th</u>
      </li>
      <li class="list-group-item">
        <u>Member/Member - August 9th - 11th</u>
        <ul class="list-group">
          <li class="list-group-item">Friday Horse Race</li>
          <li class="list-group-item">Saturday Best Ball</li>
          <li class="list-group-item">Sunday Shamble</li>
        </ul>
      </li>
      <li class="list-group-item">
        <u>Landry - September 13th - 15th</u>
        <ul class="list-group">
          <li class="list-group-item">2 Man Scramble</li>
        </ul>
      </li>
      <li class="list-group-item">
        <u>Impossible Open - October 19th</u>
        <ul class="list-group">
          <li class="list-group-item">2 Man Shamble</li>
        </ul>
      </li>
      <li class="list-group-item">
        <u>Turkey Shoot - November 9th</u>
        <ul class="list-group">
          <li class="list-group-item">2 Man Blind Draw</li>
        </ul>
      </li>
      <li class="list-group-item">
        <u>Skins Game - December 14th</u>
        <ul class="list-group">
          <li class="list-group-item">2 Man Better Ball</li>
        </ul>
      </li>
    </ul>
  </div>
</div>