<div class="main-content">
  <div class="container-fluid">
    <ul class="list-group">
      <li class="list-group-item">Superbowl Tournament - February 2nd</li>
      <li class="list-group-item">President Cup - March 2nd - 3rd</li>
      <li class="list-group-item">Sparky - April 13th</li>
      <li class="list-group-item">Member/Guest - June 7th</li>
      <li class="list-group-item">Club and Sr. Club Championship - July 12th - 13th</li>
      <li class="list-group-item">Member/Member - August 9th - 11th</li>
      <li class="list-group-item">Landry - September 13th - 15th</li>
      <li class="list-group-item">Impossible Open - October 19th</li>
      <li class="list-group-item">Turkey Shoot - November 9th</li>
      <li class="list-group-item">Skins Game - December 14th</li>
    </ul>
  </div>
</div>
<div class="main-content">
  <div class="container-fluid">
    <div class="card-columns">
      <div class="card" *ngFor="let photo of Photos">
        <img class="card-img-top" [src]="photo.src">
        <div class="card-body">
        <h5 class="card-title">{{ photo.name }}</h5>
        <p class="card-text">{{ photo.desc }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

