<div class="main-content">
  <div class="card">
   <div class="card-header card-header-danger">
      <h4 class="card-title ">Sunset Hills Meeting Minutes</h4>
      <p class="card-category">May 14th, 2019</p>
    </div>
  </div>
  <div class="card-body">
    <object type="application/pdf" data="/assets/meeting_minutes/5_14_19_shmc_minutes.pdf">
      <p>Insert your error message here, if the PDF cannot be displayed.</p>
    </object>
  </div>
  <div class="card-body">
    <object type="application/pdf" data="/assets/meeting_minutes/3_12_19_shmc_minutes.pdf">
      <p>Insert your error message here, if the PDF cannot be displayed.</p>
    </object>
  </div>
  <div class="card-body">
    <object type="application/pdf" data="/assets/meeting_minutes/2_12_19_shmc_minutes.pdf">
      <p>Insert your error message here, if the PDF cannot be displayed.</p>
    </object>
  </div>
  <div class="card-body">
    <object type="application/pdf" data="/assets/meeting_minutes/1_8_19_shmc_minutes.pdf">
      <p>Insert your error message here, if the PDF cannot be displayed.</p>
    </object>
  </div>
</div>

