<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Sunset Hills Mens Club</h4>
            <p class="card-category">July 15th, 2019</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>Name</th>
                  <th>Handicap</th>
                  <th>Black</th>
                  <th>White</th>
                </thead>
                <tbody>
                  <tr *ngFor="let member of members">
                    <td>{{ member.Name }}</td>
                    <td>{{ member.Handicap }}</td>
                    <td>{{ member.Black }}</td>
                    <td class="text-primary">{{ member.White }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
