<div class="main-content">

  <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <img class="img-fluid" src="/assets/img/shmc_pics/club_champion_leibin.jpg">
      </div>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <img class="img-fluid" src="/assets/img/shmc_pics/sh_logo.svg">
    </div>
  </div>
  <div class="container-fluid">
    <!-- first row of items -->
    <div class="row">
       <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let button of firstRow">
        <div class="card card-stats">
          <div class="card-header {{ button.headerType }} card-header-icon" routerLink="{{ button.route }}">
            <div class="card-icon"><i class="material-icons">{{ button.materialIcon }}</i></div>
            <p class="card-category">{{ button.info }}</p>
          </div>
          <div class="card-footer">
            <div class="stats"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Second Row of Items -->
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let button of secondRow">
        <div class="card card-stats">
          <div class="card-header {{ button.headerType }} card-header-icon" routerLink="{{ button.route }}">
            <div class="card-icon"><i class="material-icons">{{ button.materialIcon }}</i></div>
            <p class="card-category">{{ button.info }}</p>
          </div>
          <div class="card-footer">
            <div class="stats"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
