.jumbotron {
  background-image: url('/assets/img/shmc_pics/18.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.img-fluid {
  max-width: 100%;
  width: 100%;
  opacity: 0.9;
  height: 7em;
}

.main-content {
  background-color: rgba(255, 255, 255, 1);
}

