.main-content {
  background-color: rgba(255, 255, 255, 1);
}

.jumbotron {
  background-image: url('/assets/img/shmc_pics/18.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

.img-fluid {
  opacity: 0.9;
  border-radius: 1.7em !important;
}


