<div class="main-content">
  <div class="container-fluid">
    <!-- first row of items -->
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon"><i class="material-icons">casino</i></div>
            <p class="card-category">Tournament Schedule</p>
          </div>
          <div class="card-footer">
            <div class="stats">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon"><i class="material-icons">assessment</i></div>
            <p class="card-category">Super Intendent Report</p>
          </div>
          <div class="card-footer">
            <div class="stats"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon"><i class="material-icons">golf_course</i></div>
            <p class="card-category">Handicaps</p>
          </div>
          <div class="card-footer">
            <div class="stats">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon"><i class="material-icons">attachment</i></div>
            <p class="card-category">Mens Club Meeting Minutes</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <!-- <i class="material-icons">update</i> Just Updated -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Second Row of Items -->
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon"><i class="material-icons">exposure_plus_1</i></div>
            <p class="card-category">Hole in Ones</p>
          </div>
          <div class="card-footer">
            <div class="stats">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon"><i class="material-icons">edit</i></div>
            <p class="card-category">USGA: New Rules</p>
          </div>
          <div class="card-footer">
            <div class="stats">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
